.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  background-color: #37718e;

  width: 300px;
  margin: 0 auto;

  padding: 0 30px;
  height: 500px;

  border-radius: 12px;
}
